.girl-group {
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
}

.girl-group img {
    width: 70px;
    transition: all 2s ease;
}

.girl-1 {
    position: absolute;
    top: 0;
    left: 200px;
    transform: skew(20deg, 10deg);
}

.girl-group:hover .girl-1 {
    transform: translateY(1000px);
}

.girl-2 {
    position: absolute;
    top: 0;
    left: 300px;
}

.girl-group:hover .girl-2 {
    transform: translateY(1000px);
}

.girl-3 {
    position: absolute;
    top: 0;
    left: 400px;
}

.girl-group:hover .girl-3 {
    transform: translateY(1000px);
}

.girl-4 {
    position: absolute;
    top: 0;
    left: 500px;
}

.girl-group:hover .girl-4 {
    transform: translateY(1000px);
}

.girl-5 {
    position: absolute;
    top: 0;
    left: 600px;
    transform: rotate(45deg);
}

.girl-group:hover .girl-5 {
    transform: translateY(1000px);
}

.peach-wrapper {
    position: absolute;
    border: 1px solid black;
}

.peach-wrapper img {
    width: 900px;
    transform: translate(100px, 50px) scale(1);
    transition: all .5s ease-out;
    /* transform: scale(-1); */
}

.peach-wrapper:hover img {
    transform: translate(100px, 50px) scale(-1);
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-50px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.animated-element {
    animation: bounce 1s infinite;
}

.fade-in {
    animation: fadeIn 2s ease;
}

.fade-out {
    animation: fadeOut 2s ease forwards;
}

.fade-in-out {
    animation: fadeIn 1s ease, fadeOut 2s ease 3s forwards;
}

.intro {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: lightpink;
    display: flex;
    align-items: center;
    justify-content: center;
}